h1 {
  background: #ec008c url(../../images/lmn-logo-white.svg) center no-repeat;
  min-height: 56px;
  border-bottom: 4px solid #930053;
  margin: 0;
}

.hotels-container {
  margin: 20px;
}

.hotel-detail {
  float: right;
}

.hotel-detail-name {
  vertical-align: top;
}

.rating {
  width: 95px;
  height: 19px;
  background: url(../../images/ratings.png) -113px 0 no-repeat;
}

.rating_1 {
  background-position: 0px -17px;
}

.rating_2 {
  background-position: 0px -36px;
}

.rating_3 {
  background-position: 0px -53px;
}

.rating_4 {
  background-position: 0px -72px;
}

.rating_5 {
  background-position: 0px -89px;
}

ul.hotel-list {
  position: relative;
  background: #fff;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.hotel-list li a {
  width: 225px;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #686868;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.hotel-list li a:hover {
  background: #efefef;
}

.hotel-list .selected {
  background: #efefef;
}

a {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  font-family: Arial, Helvetica;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}